@model IEnumerable<Dziennik.Models.Odpowiedz>
@{
    ViewBag.Title = "Tworzenie odpowiedzi";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" content="width=device-width" />
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: sans-serif;
            background-image: url(../../Images/background_classroom.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            color: white;
        }

        a {
            color: white;
        }

        .box {
            position: absolute;
            top: 100px;
            left: 30%;
            width: 600px;
            padding: 40px;
            background: rgba(0,0,0,.8);
            box-sizing: border-box;
            box-shadow: 0 15px 25px rgba(0,0,0,.5);
            border-radius: 10px;
        }


            .box h2 {
                margin: 0 0 30px;
                padding: 0;
                color: white;
                text-align: center;
            }

            .box .inputBoxStudents .inputBox {
                position: relative;
            }

                .box .inputBoxStudents .inputBox p2 {
                    width: 300px;
                    padding: 10px 0;
                    font-size: 16px;
                    color: white;
                    margin-bottom: 30px;
                    border: none;
                    border: 1px solid white;
                    outline: none;
                    background: transparent;
                }

                .box .inputBoxStudents .inputBox input {
                    width: 500px;
                    padding: 10px 0;
                    font-size: 16px;
                    color: white;
                    margin-bottom: 30px;
                    border: none;
                    border: 1px solid white;
                    outline: none;
                    background: transparent;
                    margin-left: 25px;
                    margin-top: 25px;
                }

                .box .inputBoxStudents .inputBox label {
                    position: absolute;
                    top: 0;
                    left: 0;
                    padding: 10px 10px;
                    font-size: 16px;
                    color: white;
                    pointer-events: none;
                    transition: .5s;
                    margin-left: 25px;
                    margin-top: 25px;
                }

            .box label {
                padding: 10px 10px;
                font-size: 16px;
                color: white;
                pointer-events: none;
                margin-left: 25px;
            }

            .box .inputBoxStudents .inputBox input:focus ~ label,
            .box .inputBoxStudents .inputBox input:valid ~ label {
                top: -25px;
                left: 0;
                color: #03a9f4;
                font-size: 12px;
            }

            .box .inputBoxStudents input[type="submit"] {
                background: transparent;
                font-size: 12px;
                border: none;
                outline: none;
                color: white;
                background: #03a9f4;
                padding: 5px 5px;
                cursor: pointer;
                border-radius: 5px;
                float: left;
                margin-top: 25px;
                margin-left: 25px;
                text-decoration: none;
            }

            .box .inputBoxStudents {
                position: relative;
                margin-bottom: 30px;
                border: 1px solid white;
                padding-bottom: 5px;
                width: 550px;
                height: 230px;
                word-wrap: break-word;
            }

            .box .inputBoxStudents .dropDownList {
                margin-top: 12px;
            }

                .box .inputBoxStudents .dropDownList a {
                    font-size: 16px;
                    color: #000000;
                    margin-bottom: 30px;
                    margin-left: 30px;
                }

            .box .addAnswers .button {
                background: transparent;
                font-size: 12px;
                border: none;
                outline: none;
                color: white;
                background: #03a9f4;
                cursor: pointer;
                border-radius: 5px;
                float: right;
                margin-top: 10px;
                margin-right: 5px;
                text-decoration: none;
                padding: 10px 20px;
                font-size: larger;
            }
    </style>
</head>

<body style="background-image: url(../../Images/background_teacher.jpg);">
    @using (Html.BeginForm("CreateAnswers", "Teacher", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="box">
        <h2>Stwórz odpowiedzi</h2>

        <div class="inputBoxStudents">
            @ViewBag.questionContent
            <ul>
                @foreach (var item in Model)
                {
                    <li>
                        @Html.DisplayFor(modelItem => item.tresc)
                    </li>
                }
            </ul>
        </div>

        <div class="inputBoxStudents">
            <div class="inputBox">
                <input type="text" name="tresc" id="tresc" required>
                <label>Wprowadź odpowiedź</label>
            </div>

                <label class="label">Czy poprawna?</label>
                <div class="dropDownList">
                    <a>@Html.DropDownList("czyOK", new SelectList(new List<SelectListItem>
                                                                     { new SelectListItem { Text = "Nie", Value = "false"},
                                                                       new SelectListItem { Text = "Tak", Value = "true"},
                                                                     }, "Value", "Text"))</a>
                    @Html.ValidationMessage("czyOK", "", new { @class = "text-danger" })
                </div>
            <input type="submit" value="Dodaj">
        </div>
        <br><br />
            <span class="addAnswers">@Html.ActionLink("Cofnij", "TestSummary", null, new { @class = "button" })</span>
    </div>
    }
</body>
</html>

