@model Dziennik.ViewModels.ChangePasswordModel
@{
    ViewBag.Title = "Zmiana hasła";
}
<head>
    <meta charset="UTF-8" content="width=device-width" />
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: sans-serif;
            background-image: url(../../Images/background_classroom.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            color: white;
        }


        .sidenav {
            margin-top: 50px;
            height: 100%;
            width: 220px;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #34434A;
            overflow-x: hidden;
            padding-top: 20px;
        }

            .sidenav a {
                padding: 6px 6px 6px 32px;
                text-decoration: none;
                font-size: 25px;
                color: #fff;
                display: block;
                font-family: 'Lucida Handwriting';
            }

                .sidenav a:hover {
                    color: #f1f1f1;
                }

        .main {
            margin-left: 200px; /* Same as the width of the sidenav */
        }

        .box {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 400px;
            padding: 40px;
            background: rgba(0,0,0,.8);
            box-sizing: border-box;
            box-shadow: 0 15px 25px rgba(0,0,0,.5);
            border-radius: 10px;
        }

            .box .field-validation-error label {
                color: red;
                text-align: center;
            }

            .box h2 {
                margin: 0 0 30px;
                padding: 0;
                color: white;
                text-align: center;
            }

            .box .inputBox {
                position: relative;
                margin-bottom: 30px;
            }

            .box .inputBox .input {
                width: 300px;
                padding: 10px 0;
                font-size: 16px;
                margin-top: 12px;
                color: white;
                border: none;
                border: 1px solid white;
                outline: none;
                background: transparent;
            }

            .box .inputBox .label {
                left: 0;
                padding: 10px 10px;
                font-size: 16px;
                color: white;
                pointer-events: none;
            }

            .box .summary input[type="submit"] {
                background: transparent;
                border: none;
                outline: none;
                color: white;
                background: #03a9f4;
                padding: 10px 20px;
                cursor: pointer;
                border-radius: 5px;
                font-size: larger;
                float: left;
                margin-bottom: 30px;
            }
    </style>
</head>
<body style="background-image: url(../../Images/background_classroom.jpg);">
    <div class="sidenav">
        <a>@Html.ActionLink("Klasy", "Classes", "Admin", routeValues: null, htmlAttributes: new { id = "classesLink" })</a>
        <a>@Html.ActionLink("Nauczyciele", "Teachers", "Admin", routeValues: null, htmlAttributes: new { id = "teachersLink" })</a>
        <a>@Html.ActionLink("Przedmioty", "Subjects", "Admin", routeValues: null, htmlAttributes: new { id = "subjectsLink" })</a>
        <a>@Html.ActionLink("Rodzice", "Parents", "Admin", routeValues: null, htmlAttributes: new { id = "parentsLink" })</a>
        <a>@Html.ActionLink("Uczniowie", "Students", "Admin", routeValues: null, htmlAttributes: new { id = "studentsLink" })</a>
        <a>@Html.ActionLink("Ogłoszenia", "News", "Admin", routeValues: null, htmlAttributes: new { id = "newsLink" })</a>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="box">
            <p>W celu dbania o bezpieczeństwo konta przypominamy o cyklicznej zmianie hasła!</p>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="inputBox">
                @Html.LabelFor(model => model.oldPassword, htmlAttributes: new { @class = "label" })
                @Html.EditorFor(model => model.oldPassword, new { htmlAttributes = new { @class = "input" } })
                @Html.ValidationMessageFor(model => model.oldPassword, "", new { @class = "text-danger" })
            </div>

            <div class="inputBox">
                @Html.LabelFor(model => model.newPassword, htmlAttributes: new { @class = "label" })
                @Html.EditorFor(model => model.newPassword, new { htmlAttributes = new { @class = "input" } })
                @Html.ValidationMessageFor(model => model.newPassword, "", new { @class = "text-danger" })
            </div>

            <div class="inputBox">
                @Html.LabelFor(model => model.confirmNewPassword, htmlAttributes: new { @class = "label" })
                @Html.EditorFor(model => model.confirmNewPassword, new { htmlAttributes = new { @class = "input" } })
                @Html.ValidationMessageFor(model => model.confirmNewPassword, "", new { @class = "text-danger" })
            </div>

            <div class="summary">
                <input type="submit" value="Zmień hasło" class="btn btn-default" />
            </div>
        </div>
    }
</body>

