@model Dziennik.Models.Przedmiot
@{
    ViewBag.Title = "Wybierz przedmiot";
}
<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" content="width=device-width" />
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: sans-serif;
            background-image: url(../../Images/background_classroom.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            color: white;
        }

        a {
            color: white;
        }

        .box {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 400px;
            padding: 40px;
            background: rgba(0,0,0,.8);
            box-sizing: border-box;
            box-shadow: 0 15px 25px rgba(0,0,0,.5);
            border-radius: 10px;
        }

            .box .field-validation-error label {
                color: red;
                text-align: center;
            }

            .box h2 {
                margin: 0 0 30px;
                padding: 0;
                color: white;
                text-align: center;
            }

            .box .inputBox {
                position: relative;
                margin-bottom: 30px;
            }

            .box .inputBoxStudents {
                position: relative;
                margin-bottom: 30px;
                border: 1px solid white;
                padding-bottom: 40px;
            }

                .box .inputBoxStudents .label {
                    position: initial;
                    top: 0;
                    left: 0;
                    padding: 10px 10px;
                    font-size: 16px;
                    color: white;
                    pointer-events: none;
                    transition: .5s;
                }

            .box .inputBox .input {
                width: 300px;
                padding: 10px 0;
                font-size: 16px;
                margin-top: 12px;
                color: white;
                border: none;
                border: 1px solid white;
                outline: none;
                background: transparent;
            }

            .box .inputBox .label {
                left: 0;
                padding: 10px 10px;
                font-size: 16px;
                color: white;
                pointer-events: none;
            }

            .box .summary input[type="submit"] {
                background: transparent;
                border: none;
                outline: none;
                color: white;
                background: #03a9f4;
                padding: 10px 20px;
                cursor: pointer;
                border-radius: 5px;
                font-size: larger;
                float: left;
            }

            .box a.button {
                background: transparent;
                border: none;
                outline: none;
                color: white;
                background: #03a9f4;
                padding: 12px 20px;
                cursor: pointer;
                border-radius: 5px;
                font-size: larger;
            }

            .box .inputBox .dropDownList {
                margin-top: 12px;
            }

                .box .inputBox .dropDownList a {
                    font-size: 16px;
                    color: #000000;
                    margin-bottom: 30px;
                }

            .box .inputBoxStudents .container {
                display: block;
                position: relative;
                margin-top: 12px;
                margin-left: 5px;
                cursor: pointer;
                font-size: 12px;
                font-weight: 400;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }

            .box .inputBoxStudents .checkmark {
                position: absolute;
                top: 0;
                left: 0;
                height: 16px;
                width: 16px;
                background-color: #eee;
            }

            .box .inputBoxStudents .container input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;
            }

            .box .inputBoxStudents .container .text {
                margin-left: 5px;
            }

            .box .inputBoxStudents .container:hover input ~ .checkmark {
                background-color: #ccc;
            }

            .box .inputBoxStudents .container input:checked ~ .checkmark {
                background-color: #2196F3;
            }

            .box .inputBoxStudents .checkmark:after {
                content: "";
                position: absolute;
                display: none;
            }

            .box .inputBoxStudents .container input:checked ~ .checkmark:after {
                display: block;
            }

            .box .inputBoxStudents .container .checkmark:after {
                left: 6px;
                top: 2px;
                width: 5px;
                height: 10px;
                border: solid white;
                border-width: 0 3px 3px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
            }

            .box .inputBoxStudents input[type=submit] {
                background: transparent;
                font-size: 12px;
                border: none;
                outline: none;
                color: white;
                background: #03a9f4;
                padding: 5px 5px;
                cursor: pointer;
                border-radius: 5px;
                float: left;
                margin-top: 10px;
                margin-left: 5px;
            }

            .box .inputBoxStudents .addStudent .button {
                background: transparent;
                font-size: 12px;
                border: none;
                outline: none;
                color: white;
                background: #03a9f4;
                padding: 5px 5px;
                cursor: pointer;
                border-radius: 5px;
                float: right;
                margin-top: 10px;
                margin-right: 5px;
                text-decoration: none;
            }

            .box .summary .backButton .button {
                background: transparent;
                border: none;
                outline: none;
                color: white;
                background: #03a9f4;
                padding: 10px 20px;
                cursor: pointer;
                border-radius: 5px;
                font-size: larger;
                float: right;
                text-decoration: none;
                margin-bottom: 30px;
            }
    </style>
</head>

<body style="background-image: url(../../Images/background_student.jpg);">
    @using (Html.BeginForm(null, "Student", FormMethod.Post))
    {
        <div class="box">
            <h2>Wybierz przedmiot</h2>
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="inputBox">
                <div class="dropDownList">
                    <a>@Html.DropDownListFor(model => model.id_przedmiotu, (IEnumerable<SelectListItem>)ViewBag.studentSubjects)</a>
                    @Html.ValidationMessageFor(model => model.id_przedmiotu, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="summary">
                <input type="submit" value="Dalej" /><span class="backButton">@Html.ActionLink("Cofnij", "Index", null, new { @class = "button" })</span>
            </div>
        </div>
    }
</body>
</html>
